{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Dashboard</h2>
    <p>Welcome, <strong>{{ user.first_name|default:user.username }}</strong>.</p>
    <p>You are logged in successfully.</p>

    <hr>

    <h3>Next modules you can build</h3>
    <ul>
        <li>Student profile page</li>
        <li>Add skills</li>
        <li>Upload certificates</li>
        <li>Teacher verification</li>
        <li>Recruiter dashboard</li>
    </ul>
</div>
{% endblock %}